#contenedor{
	width: 1200px;
	height: auto;
	margin: auto;
	position: relative;
}

body{
	background:gray;

}

header{
	width: 1200px;
	height: 300px;
	border-style: solid;
	border-color: #004669;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}
h1{
	color:#004669;
	font-size: 25px;
	text-align: center;
}
h3{
	color:#004669;
	font-size: 30px;
	text-align: center;
}
nav{
	width: 1200px;
	height: 50px;
	background:#004669; 
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-bottom: 10px;
	border-style: solid;
	border-color: #004669;

}
ul{
	margin: auto;
	padding-top: 3px;

}

li{
	float: left;
	list-style-type: none;
	text-align: left;
	background: #004669;
	margin: 10px;
}
a{
	text-decoration: none;
	font-size: 30px;
	color: white;

}
.menu:link{color: white; text-decoration: none}

.menu:visited{color: white;text-decoration: none; }
.menu:hover{color: white;text-decoration: none; background:#e7b200;}
.menu:active{color: white;text-decoration: none;}
section{
	width: 650px;
	height: 400px;
	float: left;
	border-style: solid;
	border-color: #004669;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-bottom: 10px;
	
}
aside{
	width: 518px;
	height: 400px;
	float: left;
	border-style: solid;
	border-color: #004669;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-bottom: 10px;
	margin-left: 20px;

}
footer{
	width: 1200px;
	height: 200px;
	background: black;
	color: white;
	float: left;
	border-style: solid;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-bottom: 10px;
}
p{
	padding: 10px;
	text-align: justify;
	font-family: sans-serif;
	color: black;


}
#img2{
	float: right;
	padding: 30px;

}
#twitter-timeline{
	padding: 10px;
}